BODY {
	color: #FFFFFF;
	background-color: #000000;
}
.card-header {
    background-color: #2a2a2a;
}
.card-body {
    background-color: #000000;
}
figure {
    margin-top: 1rem;
    margin-bottom: 0;
}

A:link {
	color: white;
	text-decoration: underline;
}
A:visited {
	color: silver;
	text-decoration: underline;
}
A:hover {
	color: red;
	text-decoration: underline;
}

#button-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 15px;
  outline: none;
  background-color: #000000
}

.popover-header {
    background-color: white;
    color: black;
}

.table td, .table th {
    vertical-align: middle;
	border-top: 1px solid #0c0c0c;
}

ul {
	margin-bottom: 0rem;
}